body {
    margin: 0;
    padding: 0;
    background: #f5f7fb;
    font-family: "Poppins", sans-serif;
}

.navbar {
    z-index: 1000;
}

.navbar .form-control {
    border-radius: 12px;
}

.sidebar-link {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #fff !important;
    border-radius: 10px;
    padding: 12px 16px !important;
    transition: .3s;
    text-decoration: none;
}

.sidebar-link:hover {
    background: rgba(255, 255, 255, .15);
    color: #fff !important;
}

.active-link {
    background: #fff !important;
    color: #dc3545 !important;
    font-weight: 600;
}

.active-link i {
    color: #dc3545 !important;
}

.card {
    transition: all 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 18px 40px rgba(0, 0, 0, .18) !important;
}

.btn{
    transition: all 0.3s ease;
}

.btn:hover {
    transform: scale(1.03);
}

.profile-img {
    width: 45px;
    height: 45px;
    object-fit: cover;
}

.role-btn{
    transition:0.3s;
    border-radius:12px;
    font-weight:600;
}

.role-btn:hover{
    transform:translateY(-3px);
    box-shadow:0 8px 18px rgba(0,0,0,.15);
}

.role-card{
    border-radius:20px;
    transition:.3s;
}

.role-card:hover{
    transform:translateY(-8px);
    box-shadow:0 15px 35px rgba(0,0,0,.15)!important;
}

.role-card .btn{
    border-radius:10px;
    font-weight:600;
}

@media (max-width:768px) {

    .navbar .form-control {
        display: none;
    }

    .navbar-toggler {
        border: none;
    }

    .navbar-toggler:focus {
        box-shadow: none;
    }

    @media (max-width: 991px) {

        .navbar-collapse {
            margin-top: 20px;
        }

        .navbar form {
            width: 100% !important;
            margin-bottom: 20px;
        }

        .navbar .d-flex.align-items-center.gap-3 {
            justify-content: space-between;
            width: 100;
        }
    }

}